<table><tr><td>
<%= render "include/navigation" %>
</td><td>
<div id="container">
<div class="box location-header">
	<span class="location-header">
		<%= @city %>
	</span>
</div>
<%= render "companies" %>
<div class="box company">
<%= link_to '+ new company', new_company_path %>
</div>
<div class="box location-header">
	<%= will_paginate @companies %>
</div>
</div>
</td></tr></table>