<div class="box navigation">
	<% form_tag companies_path, :method => 'get' do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "search", :name => nil %>
	<% end %>
	<ul id="menu">
		<li><a href="#">cities</a>
			<ul>
				<li><%= link_to "new york", :controller => "companies", :action => "index", :city => "new york" %></li>
				<li><%= link_to "portland", :controller => "companies", :action => "index", :city => "portland" %></li>
			</ul>
		</li>		
		<li><a href="#">states</a>
			<ul>
				<li><%= link_to "new york", :controller => "companies", :action => "index", :state => "NY" %></li>
				<li><%= link_to "oregon", :controller => "companies", :action => "index", :state => "OR" %></li>
			</ul>
		</li>
	</ul>
</div>